@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
    --primary: #094b65;
    --main-transition: 0.3s;
    --section-background: #cfc6b7;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Start Navbar */
nav {
  --duration: .5s;
  --easing: ease-in-out;
  position: absolute;
  z-index: 1000;
  width: 220px;
  margin: 20px;
}
nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: -4px 0 0 0;
}
nav a {
  display: block;
  text-decoration: none;
  background: #fff;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
}
nav a:hover {
  background: #efefef;
  background: linear-gradient(to right, #8fa9b3 2px, #efefef 2px);
}

nav header {
  font-weight: 600;
  display: block;
  background-color: #094b658c;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
  transition-delay: var(--delay-out);
  border-radius: 4px;
  padding: 1em 1.52em;
}
nav header span.close {
  border: none;
  background: transparent;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  float: right;
}
nav footer button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding: calc(1em - 2px);
  width: 100%;
  transform-origin: 0 0;
  transition: transform var(--duration) var(--easing);
  transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
  cursor: pointer;
  outline: none;
  background: #cdcdcd;
  opacity: 0;
}
nav.closed a,
nav.closed header {
  transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
  transition-delay: var(--delay-in);
  color: transparent;
}
nav.closed footer button {
  transition-delay: 0s;
  transform: scaleY(0.7) scaleX(0.2);
}

/* End Navbar */

/* Start Landing */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #abdfec;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#clouds1 {
  top: -200px;
  animation: moving1 3s infinite ease-in-out;
}
section img#clouds2 {
  top: -280px;
  animation: moving2 3s infinite ease-in-out;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 14vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho', cursive;
    transform: translatey(-50%);
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #ffffff98;
    border: 3px solid #094b65;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

#btn:hover {
    background-color: #094b65;
    color: white;
    transition: 0.3s;
}


@keyframes moving1 {
  0% {
      left: 0;
      top: -200px;
  }
  50% {
      left: -12px;
      top: -220px;
  }
  100% {
    left: 0;
    top: -200px;
  }
}
@keyframes moving2 {
  0% {
      left: 0;
      top: -280px;
  }
  50% {
      left: 25px;
      top: -260px;
  }
  100% {
    left: 0;
    top: -280px;
  }
}

/* End Landing */

/* Start About */

.sec {
    position: relative;
    padding: 100px 35px;
    background-image:linear-gradient(to top, black, var(--primary), var(--primary), var(--primary));
    border-radius: 0 0 25px 25px;
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 30px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}


.sec ul#shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.sec ul#shape li {
    position: absolute;
    display: block;
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: -200px;
    animation: floating 5s infinite linear;
    border-radius: 50%;
}

.sec ul#shape li:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 25%;
    animation-delay: 1s;
}
.sec ul#shape li:nth-child(2) {
    width: 50px;
    height: 50px;
    left: 80%;
    animation-delay: 2s;
}
.sec ul#shape li:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 15%;
    animation-delay: 2.5s;
}
.sec ul#shape li:nth-child(4) {
    width: 90px;
    height: 90px;
    left: 45%;
    animation-delay: 2s;
}
.sec ul#shape li:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 55%;
    animation-delay: 2.5s;
}
.sec ul#shape li:nth-child(6) {
    width: 50px;
    height: 50px;
    left: 10%;
    animation-delay: 3s;
}
.sec ul#shape li:nth-child(7) {
    width: 60px;
    height: 60px;
    left: 20%;
    animation-delay: 3.5s;
}
.sec ul#shape li:nth-child(8) {
    width: 60px;
    height: 60px;
    left: 90%;
    animation-delay: 4s;
}

@keyframes floating {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(-800px) rotate(720deg);
        opacity: 0;
    }
}

@media (max-width: 500px) {

  @keyframes floating {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(-1200px) rotate(720deg);
        opacity: 0;
    }
}
}
@media (max-width: 300px) {

  @keyframes floating {
    from {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(-2200px) rotate(720deg);
        opacity: 0;
    }
}
}

/* End About */

/* Start Gallery */
.gallery {
  position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 5000;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
  }

.slide {
    background-position: center;
    background-size: cover;
    border: 5px solid var(--primary);
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }

  @media (max-width: 500px) {
    .slide {
      max-width: 250px;
      height: 250px;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

/* End Gallery */

/* Start Team */

.team {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/mountain.png);
  background-size: cover;
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, #094b65);
  opacity: 0.8;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  border: 2px solid #094b6580;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.5s;
}
.card:hover {
  background-color: rgba(255, 255, 255, 1);
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.image-content .over-lay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  border-radius: 25px 25px 25px 25px;
}
.card:hover .over-lay {
  background-color: #094b65;
  opacity: 1;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  padding: 3px;
}
.card:hover .card-image {
  background: rgba(255, 255, 255, 1);
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid rgba(0, 0, 0, 0.3);
}
.card:hover .card-img {
  border: 7px solid #094b65;
}
.card-content .name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.card-content .description {
  font-size: 14px;
  color: white;
  text-align: center;
}
.card:hover .description {
  color: #333;
  font-weight: 600;
}
.button {
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: var(--primary);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #333;
}
.swiper-btn {
  color: rgb(223, 223, 223);
  transition: color 0.3s ease;
}
.swiper-btn:hover {
  color: var(--primary);
}
.swiper-btn::before,
.swiper-btn::after {
  font-size: 40px;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-pagination-bullet {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .slide-content {
      margin: 0 10px;
  }
  .swiper-btn {
      display: none;
  }
}



/* End Team */

/* Start Services */
.services {
  padding-top: 100px; 
  padding-bottom: 100px;
  position: relative; 
  background-color: white; 
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
@media (max-width: 500px) {
  .services .container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.services .box {
  background-color: #f7f6f6;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 20%), 0 4px 4px 0 rgb(0 0 0 / 35%);
  counter-increment: services;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 500px) {
  .services .box {
    min-width: 250px;
    width: auto;
  }
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  top: -5px;
  background-color: var(--primary);
  position: absolute;
  width: 0;
  transition: 0.3s;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #b5b5b5;
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--primary); 
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #dfdfdf;
  text-align: right;
}
.services .box .info::before {
 content: "0" counter(services); 
 position: absolute;
 background-color: var(--primary);
 color: white;
 left: 0;
 top: 0;
 height: 100%;
 width: 80px;
 font-size: 30px;
 font-weight: bold;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #b5b5b5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--primary);
}
/* End Services */

/* Start Testi */

.testi {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background: url(../images/back.jpg);
  background-size: cover;
  clip-path: polygon(33% 9%, 68% 9%, 100% 0, 100% 100%, 67% 93%, 33% 93%, 0 100%, 0 0);
}
.testi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, black, #094b65);
  opacity: 0.8;
}
.testi .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  overflow: hidden;
}

.swi {
  width: 240px;
  height: 320px;
}

.sli {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
  background-image: linear-gradient(to right, #abdfec,white, #abdfec);
}
.sli h3 {
  font-size: 18px;
  color: var(--primary);
}
.sli p {
  font-size: 16px;
  font-style: italic;
  padding: 15px 25px;
}

.sli:nth-child(1n) {
  border: 5px solid var(--primary);
  
}

.sli:nth-child(2n) {
  border: 5px solid #abdfec;
}

.sli:nth-child(3n) {
  border: 5px solid rgb(10, 184, 111);
}

.sli:nth-child(4n) {
  border: 5px solid #73680c;
}

.sli:nth-child(5n) {
  border: 5px solid rgb(118, 163, 12);
}

/* End Testi */

/* Start Contact */
.contact {
  padding-top: 100px; 
  padding-bottom: 100px;
}
.contact .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.contact .container .content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .container .content {
      flex-direction: column-reverse;
  }
}
.contact .container .content .map {
  width: 50%;
  height: 430px;
  margin-right: 40px;
  border: 3px solid var(--primary);
  border-radius: 10px;
}
@media (max-width: 767px) {
  .contact .container .content .map {
      width: 100%;
      margin-top: 50px;
  }
}
.contact .form {
  width: 50%;
  text-align: center;
}
@media (max-width: 767px) {
  .contact .container .content .form {
      width: 100%;
  }
}
.contact .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(172, 172, 172);
  background-color: #dfdddd;
  caret-color: var(--primary);
  box-shadow: 4px 3px 11px 1px #868585;
}
.contact .form textarea.input {
  resize: none;
  height: 200px;
}
.contact .form .input:focus {
  outline: none;
}
.contact .form [type="submit"]{
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border-radius: 7px;
  box-shadow: 1px 5px 6px 1px #868585;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.contact .form [type="submit"]:hover {
  background-color: #333;
  box-shadow: none;
  transform: translateY(5px);
}
.contact .form .input[type="text"]::placeholder {
  transition: opacity 0.3s;
}
.contact .form .input[type="text"]:focus::placeholder {
  opacity: 0;
}
.contact .form .input[type="email"]::placeholder {
  transition: opacity 0.3s;
}
.contact .form .input[type="email"]:focus::placeholder {
  opacity: 0;
}
.contact .form textarea::placeholder {
  transition: opacity 0.3s;
}
.contact .form textarea:focus::placeholder {
  opacity: 0;
}
/* End Contact */


/* Start Footer */
.footer {
  padding: 100px 70px 0;
  background-image: url(../images/tree.jpg);
  background-size: cover;
  padding-top: 100px;
  position: relative;
  clip-path: polygon(40% 6%, 60% 6%, 70% 0, 100% 0, 100% 100%, 0 100%, 0 0, 30% 0);
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.582);

}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  z-index: 100;
  position: relative;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .footer .box {
      text-align: center;
  }
}
.footer .box .links li {
  padding: 9px 0;
  font-size: 16px;
  color: var(--primary);
  transition: var(--main-transition);
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li i {
  margin-right: 10px;
  color: var(--primary);
}
.footer .box.info {
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  .footer .box.info {
      order: -1;
      position: relative;
  }
}
.footer .box h3 {
  color: var(--primary);
  font-size: 70px;
  margin: 0 0 20px;
  font-family: 'Rancho', cursive;
}
.footer .box .social {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer .box .social {
      justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  /* background-color: var(--primary); */
  color: var(--section-background);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 35px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.footer .box .social .linked:hover .fa-linkedin {
  color: #0a66c2;
}
.footer .box .social .linked:hover {
  background-color: white;
}
.footer .box .social .insta:hover {
  background: linear-gradient(to bottom, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
}
.footer .box .social .insta:hover .fa-instagram {
  color: #fff;
}
.footer .box .social .mail {
  width: 39px;
  height: 31px;
}
.footer .box .social .mail:hover {
  background-color: #ff0000;
}
.footer .box .social .mail:hover .fa-envelope{
  color: #ffffff;
}
.footer .box .line {
  display: flex;
  color: var(--primary);
  margin-bottom: 15px;
}
.footer .box .line i {
  font-size: 20px;
  color: var(--primary);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
      margin-right: 0;
      margin-bottom: 10px;
  }
}
.footer .box .line .info {
  line-height: 1.5;
  flex: 1;
  font-size: 16px;
  color: var(--primary);
}
@media (max-width: 767px) {
  .footer .box .line {
      flex-direction: column;
      align-items: center;
  }
  .footer .box .line .info {
      font-size: 14px;
  }
}
.footer .box .line .info span {
  display: block;
}
.footer .copyright {
  position: relative;
  padding: 25px 0;
  text-align: center;
  color: rgb(22, 22, 22);
  margin: 0;
  border-top: 1px solid var(--primary);
}
@media (max-width: 767px) {
  .footer .copyright {
    font-size: 12px;
  }
}
/* End Footer */
















